*{
    border: solid 1px rebeccapurple;
}

#drawingContainer{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    width: min-content;
    /* column-count: 16; */
}

.pixels{
    border: solid 1px black;
    background-color: white;
    width: 28px;
    height: 28px;
}

.pageContainer{
    display: flex;
    justify-content: center;
}

.controls{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}

button{
    font-family: American Typewriter, serif;
    width: 100%;
}

#previewColor{
    height: 30px;
    width: 30px;
}